.services{
    background-color: #D0E6E4;
    padding-bottom: 50px;

    &--container{
        width: 90%!important;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    &--content {
        display: inline-flex;
        padding: 1.8em;
        width: 100%;
    }

    &--logo{
        img{
            width: 50px;
            height: 50px;
        }
    }

    &--category {
        color: rgb(71, 101, 105);
        width: 100%;
        padding-left: 20px;
        height: 50px;
        padding-top: calc((50px - 1.7em)/2);

        h3{
            font-size: 1.7em;
            margin: 0;
            font-family: 'Indie Flower', cursive;
            user-select: none;
        }

        p{
            font-size: 1.5em;
        }
    }
}

@media screen and (max-width: 600px) {
    .services--logo {
        img {
            width: 25px;
            height: 25px;
        }
    }

    .services--category {
        h3 {
            font-size: 1em;
            user-select: none;
        }
        padding-top: 5px;
    }

    .services--content{
        padding: .4em;
    }
}