.portfolio {
    background-color: #E7F2F1;
    padding-bottom: 100px;

    &--images{
        width: 90%!important;
        margin: auto!important;
        min-height: 540px;
        
        &:hover{
            .portfolio--images--item{
                opacity: .4;
            }
            .portfolio--images--item img{
                box-shadow: none;
                -webkit-transform: scale(.95);
                transform: scale(.95);
            }
        }

        .MuiGrid-item{
            height: 300px;
        }

        &--item{
            position: relative;
            padding: 0 15px 15px;
            transition: all .3s;
            text-align: center;

            img{
                display: block;
                position: relative;
                border-radius: 6px;
                -webkit-transition: all .3s;
                transition: all .3s;
                box-shadow: 0 16px 38px -12px rgba(78, 70, 145, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
            }

            &--option{
                display: none;
                position: absolute;
                top: calc(50% - 31.5px);
                left: calc(50% - 24px);

                a{
                    color: #337ab7;
                    text-decoration: none;
                    cursor: pointer;
                    
                    i{
                        color: white;
                        background-color: teal;
                        font-size: 2em;
                        padding: 5px;
                        opacity: .8;
                        border-radius: 4px;
                    }
                }
            }

            &:hover {
                opacity: 1!important;

                img{
                    -webkit-transform: scale(1) !important;
                    transform: scale(1) !important;
                    box-shadow: 0 16px 38px -12px rgba(78, 70, 145, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
                }

                .portfolio--images--item--option{
                    display: block;
                }
            }
        }
    }
}
.MuiDialog-paperWidthSm{
    max-width: none!important;
    width: 100%;
}

.MuiDialog-paperScrollPaper{
    max-height: calc(100% - 30px)!important;
    background: transparent!important;
}
.MuiDialogContent-root{
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 0!important;
    
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgb(71, 101, 105); 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(71, 101, 105, .5);
        cursor: pointer!important;  
    }

    img{
        max-width: 100%;
        max-height: 90vh;
        cursor: zoom-out;
    }
}

.Component-closeButton-217 {
    color: white!important;
}
.MuiDialogContent-dividers{
    border-top: none!important;
}
.MuiPaper-elevation24{
    box-shadow: none!important;
}

.MuiFlatPagination-root{
    text-align: center;
    font-size: 1.1em!important;
}
.MuiButton-textSecondary{
    color: #178578!important;
    font-size: 1.5em!important;
}
.MuiButton-textPrimary {
    color: rgb(71, 101, 105)!important;
}

@media screen and (max-width: 800px) {
    .MuiDialogContent-root{
        width: 90%;
    }
    .MuiDialog-paper{
        margin: 0 auto!important;
    }
}